doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Noom
        main
            div#welcome
                form
                    input#room-name(placeholder="room name", required, type="text")
                    input#nickname(placeholder="nickname" type="text")
                    button(type="submit") Enter Room
            div#room
                h3
                h4
                ul
                form
                    input(placeholder="message", required, type="text")
                    button(type="submit") Send
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 